
body {
    color: #151e25;
}

#wrap {
    text-align: center;
}

#introWrapper {
    background-image: url("../images/conor-sexton-hRemch0ZDwI-unsplash\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(50%);
    background-position: center;
    height: 60vh;
}

#intro {
    width: 80vw;
    margin: 0 auto 1.5em;
}
#intro_name, #intro_subtitle {
    color: white;
}

#intro_name {
    font-size: 60px;
    font-family: 'Buenard', serif;
    padding-top: 2.5em;
}

#intro_subtitle {
    font-size: 1.3em;
    font-style: italic;
}

#socials {
    display: flex;
    justify-content: center;
}

.intro__icon {
    margin: 0.8em 1em 0.8em 0;
    width: 2em;
}

.icon_animation {
    transition: 0.3s; 
}

.icon_animation:hover {
    transform: scale(1.5);
}




#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5em;
}

#content .section {
    display: flex;
    width: 30%;
    height: 8em;
    border: 1px solid;
    border-radius: 1.5em;
    align-items: center;
}

.content__title {
    font-size: 1.7em;
    font-style: italic;
    margin: 0.5em auto;
}

.information {
    height: 10%;
}

.information ul {
    margin: 0.8em auto;
}

a {
    color: #151e25;
    transition: font-size 0.5s;
}

a:hover {
    font-weight: bolder;
    font-size: 1.2em;
}





footer {
    display: none;
}